*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.navbar .container {
    display: flex;
}
.nav_title {
    margin-top: 20px;
}
.nav_list {
    margin-top: 20px;
    display: flex;
    margin-left: auto;
}
.nav_link {
    margin-left: 15px;
    color: black;
    transition: .65s;
}
.nav_link:hover {
    color:#F04037;
}
.nav_wrapper {
    margin-top: 10px;
    margin-left: 15px;
    color: black;
    border: 2px solid #F04037;
    padding: 10px 30px;
    transition: .5s;
}
.nav_wrapper:hover {
    background-color: #F04037;
    color: white;
}
.main .container {
    margin-top: 90px;
    display: flex;
}
.box_phonetext {
    margin: 120px;
    margin-left: 150px;
}
.phone_title {
    width: 66%;
    font-size: 40px;
}
.phone_text {
    margin-top: 20px;   
    width: 85%;
    font-size: 19px;
}
.box_join {
    width: 400px;
    justify-content: space-between;
    margin-top: 100px;
    display: flex;
}
.join_link {
    padding: 10px 20px;
    border: 2px solid #F04037;
    color: black;
    transition: .5s;
}
.join_link:hover {
    color: white;
    background-color: #F04037;
}

.section_1 {
    background-color: #5454D4;
    color: white;
    margin-top: 90px;
}
.big_box {
    display: flex;
    justify-content: space-between;
}
.box_1 {
    width: 35%;
    padding-top: 50px;
}
.that_text {
    font-family: CircularStd;
    line-height: 31px;
    margin-top: 20px;
}
.text_taylor {
    margin-top: 15px;
}